{
  "openapi": "3.0.1",
  "info": {
    "title": "Basecamp API",
    "description": "API Documentation for Basecamp",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://3.basecampapi.com/"
    }
  ],
  "paths": {
    "/buckets/{bucketId}/card_tables/{cardTableId}.json": {
      "get": {
        "tags": ["Card Tables"],
        "summary": "Get a card table",
        "operationId": "getCardTable",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "description": "ID of the project bucket",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cardTableId",
            "in": "path",
            "required": true,
            "description": "ID of the card table",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTable"
                }
              }
            }
          },
          "404": {
            "description": "Card table not found"
          }
        }
      }
    },
    "/buckets/{bucket_id}/inboxes/{inbox_id}/forwards": {
      "get": {
        "summary": "Get forwards",
        "description": "Returns a paginated list of active forwards in the project with the specified bucket ID and inbox ID.",
        "tags": ["Forwards"],
        "operationId": "getForwards",
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "description": "The ID of the bucket (project).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "inbox_id",
            "in": "path",
            "required": true,
            "description": "The ID of the inbox.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of active forwards",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ForwardList" }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucket_id}/inbox_forwards/{forward_id}": {
      "get": {
        "summary": "Get a forward",
        "description": "Returns the forward with the specified ID in the project with the specified bucket ID.",
        "tags": ["Forwards"],
        "operationId": "getForward",
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "description": "The ID of the bucket (project).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forward_id",
            "in": "path",
            "required": true,
            "description": "The ID of the forward.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a specific forward",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Forward" }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucket_id}/recordings/{recording_id}/events.json": {
      "get": {
        "summary": "Get events",
        "description": "Returns a paginated list of events for the recording with the specified ID in the project with the specified bucket ID.",
        "tags": ["Events"],
        "operationId": "getEvents",
        "parameters": [
          {
            "name": "bucket_id",
            "in": "path",
            "required": true,
            "description": "ID of the project bucket",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recording_id",
            "in": "path",
            "required": true,
            "description": "ID of the recording",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "recording_id": {
                        "type": "integer"
                      },
                      "action": {
                        "type": "string"
                      },
                      "details": {
                        "type": "object"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "creator": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "attachable_sgid": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email_address": {
                            "type": "string"
                          },
                          "personable_type": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "location": {
                            "type": ["string", "null"]
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "admin": {
                            "type": "boolean"
                          },
                          "owner": {
                            "type": "boolean"
                          },
                          "client": {
                            "type": "boolean"
                          },
                          "employee": {
                            "type": "boolean"
                          },
                          "time_zone": {
                            "type": "string"
                          },
                          "avatar_url": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "can_manage_projects": {
                            "type": "boolean"
                          },
                          "can_manage_people": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 1071915175,
                    "recording_id": 1069479523,
                    "action": "assignment_changed",
                    "details": {
                      "added_person_ids": [1049715937],
                      "removed_person_ids": []
                    },
                    "created_at": "2022-12-11T13:25:58.169Z",
                    "creator": {
                      "id": 1049715915,
                      "attachable_sgid": "BAh7CEkiCGdpZAY6BkVUSSIrZ2lkOi8vYmMzL1BlcnNvbi8xMDQ5NzE1OTE1P2V4cGlyZXNfaW4GOwBUSSIMcHVycG9zZQY7AFRJIg9hdHRhY2hhYmxlBjsAVEkiD2V4cGlyZXNfYXQGOwBUMA==--aeb392ebf54ffd820e45f27add22bae3a8c7da56",
                      "name": "Annie Bryan",
                      "email_address": "annie@honchodesign.com",
                      "personable_type": "User",
                      "title": "Central Markets Manager",
                      "bio": "To open a store is easy, to keep it open is an art",
                      "location": null,
                      "created_at": "2022-11-22T08:23:21.911Z",
                      "updated_at": "2022-11-22T08:23:21.911Z",
                      "admin": false,
                      "owner": false,
                      "client": false,
                      "employee": true,
                      "time_zone": "America/Chicago",
                      "avatar_url": "https://3.basecamp-static.com/195539477/people/BAhpBMtkkT4=--9927c47a4cbee30a7f9aea667882496aba799149/avatar?v=1",
                      "company": {
                        "id": 1033447817,
                        "name": "Honcho Design"
                      },
                      "can_manage_projects": true,
                      "can_manage_people": true
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/projects/recordings.json": {
      "get": {
        "summary": "Get recordings",
        "description": "Returns a paginated list of records for the given type of recording.",
        "operationId": "getRecordings",
        "tags": ["Recordings"],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Comment",
                "Document",
                "Message",
                "Question::Answer",
                "Schedule::Entry",
                "Todo",
                "Todolist",
                "Upload",
                "Vault"
              ]
            },
            "description": "Type of recording."
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Single or comma-separated list of project IDs."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "archived", "trashed"],
              "default": "active"
            },
            "description": "Status of the recordings."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["created_at", "updated_at"],
              "default": "created_at"
            },
            "description": "Field to sort by."
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            },
            "description": "Sort direction."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of recordings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recording"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/recordings/{recordingId}/status/trashed.json": {
      "put": {
        "summary": "Trash a recording",
        "description": "Marks the specified recording as trashed.",
        "operationId": "trashRecording",
        "tags": ["Recordings"],
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the project bucket."
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the recording to trash."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The recording was successfully trashed."
          }
        }
      }
    },
    "/buckets/{bucketId}/recordings/{recordingId}/status/archived.json": {
      "put": {
        "summary": "Archive a recording",
        "description": "Marks the specified recording as archived.",
        "operationId": "archiveRecording",
        "tags": ["Recordings"],
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the project bucket."
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the recording to archive."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The recording was successfully archived."
          }
        }
      }
    },
    "/buckets/{bucketId}/recordings/{recordingId}/status/active.json": {
      "put": {
        "summary": "Unarchive a recording",
        "description": "Marks the specified recording as active.",
        "operationId": "unarchiveRecording",
        "tags": ["Recordings"],
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the project bucket."
          },
          {
            "name": "recordingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the recording to unarchive."
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. The recording was successfully marked as active."
          }
        }
      }
    },
    "/projects.json": {
      "get": {
        "summary": "Get all projects",
        "operationId": "getAllProjects",
        "description": "Returns a paginated list of active projects visible to the current user.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter projects by status: `active`, `archived`, or `trashed`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a project",
        "operationId": "createProject",
        "description": "Create a new project with a name and optional description.",
        "tags": ["Projects"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProject"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "507": {
            "description": "The project limit for this account has been reached."
          }
        }
      }
    },
    "/projects/{projectId}.json": {
      "get": {
        "summary": "Get a project",
        "operationId": "getProject",
        "description": "Returns a specific project by ID.",
        "tags": ["Projects"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/people.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get all people",
        "description": "Returns all people visible to the current user.",
        "operationId": "getAllPeople",
        "responses": {
          "200": {
            "description": "An array of people",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/people.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get people on a project",
        "description": "Returns all active people on the project with the given ID.",
        "operationId": "getPeopleOnProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of people on the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/people/users.json": {
      "put": {
        "tags": [
          "People"
        ],
        "summary": "Update who can access a project",
        "description": "Grants and revokes people access to a project, or creates new users.",
        "operationId": "updateProjectAccess",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "People access update payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleAccessUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A response showing granted and revoked people",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleAccessResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/circles/people.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get pingable people",
        "description": "Returns all people on this Basecamp account who can be pinged.",
        "operationId": "getPingablePeople",
        "responses": {
          "200": {
            "description": "An array of pingable people",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Person"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people/{personId}.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get person",
        "description": "Returns the profile for the person with the given ID.",
        "operationId": "getPerson",
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A person's profile",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        }
      }
    },
    "/my/profile.json": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Get my personal info",
        "description": "Returns the current user's personal information.",
        "operationId": "getMyProfile",
        "responses": {
          "200": {
            "description": "Current user's profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/columns/{columnId}.json": {
      "get": {
        "tags": ["Card Tables"],
        "summary": "Get a column",
        "description": "Returns a specific column in a card table",
        "operationId": "getColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The column details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Card Tables"],
        "summary": "Update a column",
        "description": "Updates a specific column in a card table",
        "operationId": "updateColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated column",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/{cardTableId}/columns.json": {
      "post": {
        "tags": ["Card Tables"],
        "summary": "Create a column",
        "description": "Creates a new column in a card table",
        "operationId": "createColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cardTableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created column",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/{cardTableId}/moves.json": {
      "post": {
        "tags": ["Card Tables"],
        "summary": "Move a column",
        "description": "Moves a column to a new position in the card table",
        "operationId": "moveColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cardTableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["source_id", "target_id"],
                "properties": {
                  "source_id": {
                    "type": "integer"
                  },
                  "target_id": {
                    "type": "integer"
                  },
                  "position": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Column moved successfully"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/columns/{columnId}/color.json": {
      "put": {
        "tags": ["Card Tables"],
        "summary": "Change column color",
        "description": "Changes the color of a column",
        "operationId": "changeColumnColor",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["color"],
                "properties": {
                  "color": {
                    "type": "string",
                    "enum": ["white", "red", "orange", "yellow", "green", "blue", "aqua", "purple", "gray", "pink", "brown"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Column color updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/lists/{columnId}/subscription.json": {
      "post": {
        "tags": ["Card Tables"],
        "summary": "Watch a column",
        "description": "Start watching a column",
        "operationId": "watchColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Started watching column successfully"
          }
        }
      },
      "delete": {
        "tags": ["Card Tables"],
        "summary": "Unwatch a column",
        "description": "Stop watching a column",
        "operationId": "unwatchColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Stopped watching column successfully"
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/columns/{columnId}/on_hold.json": {
      "post": {
        "tags": ["Card Tables"],
        "summary": "Add on hold section",
        "description": "Creates an on hold section in the column",
        "operationId": "addOnHoldSection",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On hold section added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Card Tables"],
        "summary": "Remove on hold section",
        "description": "Removes the on hold section from the column",
        "operationId": "removeOnHoldSection",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On hold section removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Column"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/lists/{columnId}/cards.json": {
      "get": {
        "tags": ["Card Tables"],
        "summary": "Get cards in a column",
        "description": "Returns a paginated list of cards in a specific column",
        "operationId": "getCardsInColumn",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of cards in the column",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Card Tables"],
        "summary": "Create a card",
        "description": "Creates a new card in a specific column",
        "operationId": "createCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "columnId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "due_on": {
                    "type": "string",
                    "format": "date"
                  },
                  "notify": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Card created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/cards/{cardId}.json": {
      "get": {
        "tags": ["Card Tables"],
        "summary": "Get a card",
        "description": "Returns details of a specific card",
        "operationId": "getCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Card Tables"],
        "summary": "Update a card",
        "description": "Updates a specific card",
        "operationId": "updateCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "due_on": {
                    "type": "string",
                    "format": "date"
                  },
                  "assignee_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/card_tables/cards/{cardId}/moves.json": {
      "post": {
        "tags": ["Card Tables"],
        "summary": "Move a card",
        "description": "Moves a card to a different column",
        "operationId": "moveCard",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["column_id"],
                "properties": {
                  "column_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Card moved successfully"
          }
        }
      }
    },
    "/buckets/{bucketId}/chats/{chatId}/integrations.json": {
      "get": {
        "tags": ["Chatbots"],
        "summary": "Get chatbots",
        "description": "Returns all chatbots from the account with the line URL for the specified campfire",
        "operationId": "getChatbots",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of chatbots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chatbot"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Chatbots"],
        "summary": "Create a chatbot",
        "description": "Creates a new chatbot on the account",
        "operationId": "createChatbot",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["service_name"],
                "properties": {
                  "service_name": {
                    "type": "string",
                    "description": "Name of the chatbot, used to invoke queries and commands. No spaces, emoji or non-word characters allowed"
                  },
                  "command_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL that Basecamp should call when the bot is addressed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chatbot created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chatbot"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/chats/{chatId}/integrations/{integrationId}.json": {
      "get": {
        "tags": ["Chatbots"],
        "summary": "Get a chatbot",
        "description": "Returns a specific chatbot with the line URL",
        "operationId": "getChatbot",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chatbot details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chatbot"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Chatbots"],
        "summary": "Update a chatbot",
        "description": "Updates a specific chatbot",
        "operationId": "updateChatbot",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["service_name"],
                "properties": {
                  "service_name": {
                    "type": "string",
                    "description": "Name of the chatbot, used to invoke queries and commands. No spaces, emoji or non-word characters allowed"
                  },
                  "command_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL that Basecamp should call when the bot is addressed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chatbot updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chatbot"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Chatbots"],
        "summary": "Destroy a chatbot",
        "description": "Deletes a chatbot across the account",
        "operationId": "destroyChatbot",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Chatbot deleted successfully"
          }
        }
      }
    },
    "/integrations/{chatbotKey}/buckets/{bucketId}/chats/{chatId}/lines.json": {
      "post": {
        "tags": ["Chatbots"],
        "summary": "Create a line",
        "description": "Creates a line in a Campfire using a chatbot",
        "operationId": "createChatbotLine",
        "parameters": [
          {
            "name": "chatbotKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "content_param",
            "in": "query",
            "description": "Modifies the name of the required content param to support webhooks from third-party services",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The body of the Campfire line. Supports rich text HTML tags plus additional tags: table, tr, td, th, thead, tbody, details, summary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Line created successfully"
          }
        }
      }
    },
    "/buckets/{bucketId}/webhooks.json": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get webhooks",
        "description": "Returns all webhooks from the basecamp",
        "operationId": "getWebhooks",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - client users aren't allowed to perform webhook actions"
          }
        }
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create a webhook",
        "description": "Creates a new webhook in the project",
        "operationId": "createWebhook",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["payload_url"],
                "properties": {
                  "payload_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL that Basecamp should call"
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["all", "Comment", "Client::Approval::Response", "Client::Forward", "Client::Reply", "CloudFile", "Document", "GoogleDocument", "Inbox::Forward", "Message", "Question", "Question::Answer", "Schedule::Entry", "Todo", "Todolist", "Upload", "Vault"]
                    },
                    "description": "Array of types to trigger webhook calls"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - client users aren't allowed to perform webhook actions"
          }
        }
      }
    },
    "/buckets/{bucketId}/webhooks/{webhookId}.json": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get a webhook",
        "description": "Returns a specific webhook with recent deliveries",
        "operationId": "getWebhook",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details with recent deliveries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookWithDeliveries"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - client users aren't allowed to perform webhook actions"
          }
        }
      },
      "put": {
        "tags": ["Webhooks"],
        "summary": "Update a webhook",
        "description": "Updates a specific webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["payload_url"],
                "properties": {
                  "payload_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL that Basecamp will call"
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["all", "Comment", "Client::Approval::Response", "Client::Forward", "Client::Reply", "CloudFile", "Document", "GoogleDocument", "Inbox::Forward", "Message", "Question", "Question::Answer", "Schedule::Entry", "Todo", "Todolist", "Upload", "Vault"]
                    },
                    "description": "Array of types to trigger webhook calls"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Whether this webhook should be matching"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - client users aren't allowed to perform webhook actions"
          }
        }
      },
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Destroy a webhook",
        "description": "Deletes a webhook",
        "operationId": "destroyWebhook",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully"
          },
          "403": {
            "description": "Forbidden - client users aren't allowed to perform webhook actions"
          }
        }
      }
    },
    "/templates.json": {
      "get": {
        "tags": ["Templates"],
        "summary": "Get templates",
        "description": "Returns a paginated list of active Templates visible to the current user",
        "operationId": "getTemplates",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter templates by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "archived", "trashed"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Templates"],
        "summary": "Create a template",
        "description": "Creates a new template",
        "operationId": "createTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "507": {
            "description": "Account project/team limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}.json": {
      "get": {
        "tags": ["Templates"],
        "summary": "Get a template",
        "description": "Returns details of a specific template",
        "operationId": "getTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Templates"],
        "summary": "Update a template",
        "description": "Updates a specific template",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Templates"],
        "summary": "Trash a template",
        "description": "Marks a template as trashed",
        "operationId": "trashTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template trashed successfully"
          }
        }
      }
    },
    "/templates/{templateId}/project_constructions.json": {
      "post": {
        "tags": ["Templates"],
        "summary": "Create a project construction",
        "description": "Creates a new project from a template",
        "operationId": "createProjectConstruction",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["project"],
                "properties": {
                  "project": {
                    "type": "object",
                    "required": ["name"],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project construction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectConstruction"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{templateId}/project_constructions/{constructionId}.json": {
      "get": {
        "tags": ["Templates"],
        "summary": "Get a project construction",
        "description": "Returns the status of a project construction",
        "operationId": "getProjectConstruction",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "constructionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project construction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectConstruction"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/vaults/{vaultId}/documents.json": {
      "get": {
        "tags": ["Documents"],
        "summary": "Get documents",
        "description": "Returns a paginated list of active documents in the project's vault",
        "operationId": "getDocuments",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Documents"],
        "summary": "Create a document",
        "description": "Creates a new document in the project's vault",
        "operationId": "createDocument",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "vaultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "content"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the document"
                  },
                  "content": {
                    "type": "string",
                    "description": "Body of the document in HTML format. See Rich text guide for allowed HTML tags"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["active"],
                    "description": "Set to active to publish immediately"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      }
    },
    "/buckets/{bucketId}/documents/{documentId}.json": {
      "get": {
        "tags": ["Documents"],
        "summary": "Get a document",
        "description": "Returns a specific document",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Documents"],
        "summary": "Update a document",
        "description": "Updates a specific document's title and content",
        "operationId": "updateDocument",
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the document"
                  },
                  "content": {
                    "type": "string",
                    "description": "Body of the document in HTML format. See Rich text guide for allowed HTML tags"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CardTable": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "visible_to_clients": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "inherits_status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "type": "string",
            "format": "uri"
          },
          "bookmark_url": {
            "type": "string",
            "format": "uri"
          },
          "subscription_url": {
            "type": "string",
            "format": "uri"
          },
          "bucket": {
            "$ref": "#/components/schemas/Bucket"
          },
          "creator": {
            "$ref": "#/components/schemas/Creator"
          },
          "subscribers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscriber"
            }
          },
          "lists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/List"
            }
          }
        }
      },
      "Forward": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "status": { "type": "string" },
          "visible_to_clients": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "title": { "type": "string" },
          "inherits_status": { "type": "boolean" },
          "type": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "app_url": { "type": "string", "format": "uri" },
          "bookmark_url": { "type": "string", "format": "uri" },
          "subscription_url": { "type": "string", "format": "uri" },
          "parent": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "title": { "type": "string" },
              "type": { "type": "string" },
              "url": { "type": "string", "format": "uri" },
              "app_url": { "type": "string", "format": "uri" }
            }
          },
          "bucket": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" },
              "type": { "type": "string" }
            }
          },
          "creator": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "attachable_sgid": { "type": "string" },
              "name": { "type": "string" },
              "email_address": { "type": "string" },
              "personable_type": { "type": "string" },
              "title": { "type": "string" },
              "bio": { "type": "string" },
              "location": { "type": "string", "nullable": true },
              "created_at": { "type": "string", "format": "date-time" },
              "updated_at": { "type": "string", "format": "date-time" },
              "admin": { "type": "boolean" },
              "owner": { "type": "boolean" },
              "client": { "type": "boolean" },
              "employee": { "type": "boolean" },
              "time_zone": { "type": "string" },
              "avatar_url": { "type": "string", "format": "uri" },
              "company": {
                "type": "object",
                "properties": {
                  "id": { "type": "integer" },
                  "name": { "type": "string" }
                }
              },
              "can_manage_projects": { "type": "boolean" },
              "can_manage_people": { "type": "boolean" }
            }
          },
          "content": { "type": "string" },
          "subject": { "type": "string" },
          "from": { "type": "string" },
          "replies_count": { "type": "integer" },
          "replies_url": { "type": "string", "format": "uri" }
        }
      },
      "ForwardList": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/Forward" }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the recording."
          },
          "type": {
            "type": "string",
            "description": "Type of the recording."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the recording was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the recording was last updated."
          },
          "content": {
            "type": "string",
            "description": "The content of the recording."
          }
        },
        "required": ["id", "type", "createdAt", "updatedAt", "content"]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the project."
          },
          "name": {
            "type": "string",
            "description": "Name of the project."
          },
          "description": {
            "type": "string",
            "description": "Optional description of the project."
          },
          "status": {
            "type": "string",
            "description": "Status of the project.",
            "enum": ["active", "archived", "trashed"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the project was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the project was last updated."
          }
        },
        "required": ["id", "name", "status", "createdAt", "updatedAt"]
      },
      "CreateProject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the new project.",
            "example": "New Project"
          },
          "description": {
            "type": "string",
            "description": "Optional description of the new project."
          }
        },
        "required": ["name"]
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the person"
          },
          "attachable_sgid": {
            "type": "string",
            "description": "A secure global ID for the person"
          },
          "name": {
            "type": "string",
            "description": "Name of the person"
          },
          "email_address": {
            "type": "string",
            "description": "Email address of the person"
          },
          "personable_type": {
            "type": "string",
            "description": "Type of the person (e.g., User, Client)"
          },
          "title": {
            "type": "string",
            "description": "Job title of the person"
          },
          "bio": {
            "type": "string",
            "description": "Short biography of the person"
          },
          "location": {
            "type": "string",
            "description": "Location of the person"
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp of when the person was created",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "description": "Timestamp of when the person was last updated",
            "format": "date-time"
          },
          "admin": {
            "type": "boolean",
            "description": "Indicates if the person is an admin"
          },
          "owner": {
            "type": "boolean",
            "description": "Indicates if the person is the owner"
          },
          "client": {
            "type": "boolean",
            "description": "Indicates if the person is a client"
          },
          "employee": {
            "type": "boolean",
            "description": "Indicates if the person is an employee"
          },
          "time_zone": {
            "type": "string",
            "description": "Person's time zone"
          },
          "avatar_url": {
            "type": "string",
            "description": "URL to the person's avatar image"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "can_manage_projects": {
            "type": "boolean",
            "description": "Indicates if the person can manage projects"
          },
          "can_manage_people": {
            "type": "boolean",
            "description": "Indicates if the person can manage people"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the company"
          },
          "name": {
            "type": "string",
            "description": "Name of the company"
          }
        }
      },
      "PeopleAccessUpdate": {
        "type": "object",
        "properties": {
          "grant": {
            "type": "array",
            "description": "Array of people IDs to be granted access",
            "items": {
              "type": "integer"
            }
          },
          "revoke": {
            "type": "array",
            "description": "Array of people IDs to be revoked access",
            "items": {
              "type": "integer"
            }
          },
          "create": {
            "type": "array",
            "description": "Array of new people to be created",
            "items": {
              "$ref": "#/components/schemas/NewPerson"
            }
          }
        }
      },
      "NewPerson": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the new person"
          },
          "email_address": {
            "type": "string",
            "description": "Email address of the new person"
          },
          "title": {
            "type": "string",
            "description": "Job title of the new person (optional)"
          },
          "company_name": {
            "type": "string",
            "description": "Company name of the new person (optional)"
          }
        }
      },
      "PeopleAccessResponse": {
        "type": "object",
        "properties": {
          "granted": {
            "type": "array",
            "description": "Array of people who were granted access",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "revoked": {
            "type": "array",
            "description": "Array of people who were revoked access",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          }
        }
      },
      "Column": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "visible_to_clients": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "inherits_status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "type": "string",
            "format": "uri"
          },
          "bookmark_url": {
            "type": "string",
            "format": "uri"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "app_url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "bucket": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "subscribers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "color": {
            "type": "string",
            "nullable": true,
            "enum": ["white", "red", "orange", "yellow", "green", "blue", "aqua", "purple", "gray", "pink", "brown"]
          },
          "cards_count": {
            "type": "integer"
          },
          "comment_count": {
            "type": "integer"
          },
          "cards_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "visible_to_clients": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "inherits_status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "type": "string",
            "format": "uri"
          },
          "bookmark_url": {
            "type": "string",
            "format": "uri"
          },
          "subscription_url": {
            "type": "string",
            "format": "uri"
          },
          "comments_count": {
            "type": "integer"
          },
          "comments_url": {
            "type": "string",
            "format": "uri"
          },
          "position": {
            "type": "integer"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "app_url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "bucket": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "description": {
            "type": "string"
          },
          "completed": {
            "type": "boolean"
          },
          "content": {
            "type": "string"
          },
          "due_on": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "assignees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "completion_subscribers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "completion_url": {
            "type": "string",
            "format": "uri"
          },
          "comment_count": {
            "type": "integer"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "visible_to_clients": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "inherits_status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "type": "string",
            "format": "uri"
          },
          "bookmark_url": {
            "type": "string",
            "format": "uri"
          },
          "position": {
            "type": "integer"
          },
          "parent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "app_url": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "bucket": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "completed": {
            "type": "boolean"
          },
          "due_on": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "assignees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "completion_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": ["active", "archived", "trashed"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "type": "string",
            "format": "uri"
          },
          "dock": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "enabled": {
                  "type": "boolean"
                },
                "position": {
                  "type": "integer",
                  "nullable": true
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "app_url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "ProjectConstruction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed"]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "purpose": {
                "type": "string"
              },
              "clients_enabled": {
                "type": "boolean"
              },
              "bookmark_url": {
                "type": "string",
                "format": "uri"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "app_url": {
                "type": "string",
                "format": "uri"
              },
              "dock": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "title": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "position": {
                      "type": "integer",
                      "nullable": true
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "app_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Chatbot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "service_name": {
            "type": "string"
          },
          "command_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "type": "string",
            "format": "uri"
          },
          "lines_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ChatbotCommand": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string"
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "payload_url": {
            "type": "string",
            "format": "uri"
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "app_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "WebhookWithDeliveries": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "recent_deliveries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WebhookDelivery"
                },
                "description": "25 most recent delivery exchanges, sorted with most recent first"
              }
            }
          }
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "request": {
            "type": "object",
            "properties": {
              "headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "body": {
                "$ref": "#/components/schemas/WebhookEvent"
              }
            }
          },
          "response": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "message": {
                "type": "string"
              },
              "body": {
                "type": "string"
              }
            }
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "kind": {
            "type": "string",
            "description": "Type of event (e.g., message_created, todo_completed)"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "recording": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "title": {
                "type": "string"
              },
              "inherits_status": {
                "type": "boolean"
              },
              "type": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "app_url": {
                "type": "string",
                "format": "uri"
              },
              "comments_count": {
                "type": "integer"
              },
              "comments_url": {
                "type": "string",
                "format": "uri"
              },
              "parent": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "app_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "bucket": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "creator": {
                "$ref": "#/components/schemas/Person"
              },
              "content": {
                "type": "string"
              }
            }
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "copy": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "url": {
                "type": "string",
                "format": "uri"
              },
              "app_url": {
                "type": "string",
                "format": "uri"
              },
              "bucket": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": ["active", "archived", "trashed"]
          },
          "visible_to_clients": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
[...]
